// Fontes
$fontePrincipal: 'Roboto', sans-serif;

// Cores
$cordeFundo: #f5f6fa;
$corPrincipal: #182C61;
$cortexto1: #fff;
$corButtonPrincipal: #44bd32;
$corButtonHover: #4cd137;


// Breakpoints
$tablet: 1023px;
$mobile: 767px;